.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.github-logo {
  height: 24px;
  padding: 2px 4px;
  margin-top: -2px;
}